<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Boolzap</title>
</head>

<body>


    <div id="app">
        <div class="wrapper d-flex my-4">
            <div id="left" class="w-100 d-lg-block w-lg-40">
                <header id="left_header" class="d-flex align-items-center justify-content-between">
                    <div id="user_account" class="d-flex align-items-center">
                        <div class="image mx-2">
                            <img class="rounded-circle" src="./assets/img/avatar_5.jpg" alt="">
                        </div>
                        <div class="name">
                            <span>Peppe</span>
                        </div>
                    </div>
                    <!-- /user account -->
                    <div class="user_icons d-flex w-25 justify-content-evenly">
                        <div><i class="fa-solid fa-circle-notch"></i></div>
                        <div><i class="fa-solid fa-message"></i></div>
                        <div class="dropdown" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-ellipsis-vertical"></i>
                            <ul class="dropdown-menu">
                                <li @click="openImportantMessages"><a class="dropdown-item" href="#">Importan Messages</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                              </ul></div>  
                    </div>

                </header>

                <!-- /left header -->
                <div id="notification_section" class="d-flex align-items-center ps-2">
                    <div class="notification_icon bg-white mx-2 d-flex align-items-center rounded-circle px-2">
                        <i class="fa-solid fa-bell-slash fa-xl"></i>
                    </div>
                    <div class="text">
                        <span> <strong> Receive notifications for new messages </strong></span> <br>
                        <span><a href="#">Enable desktop notifications</a></span>

                    </div>

                </div>
                <!-- /notification -->
              



                <div id="search_section">
                    <div id="search_input" class="p-1">
                        <input type="text" class="form-control" id="search"
                            placeholder="   &#8981     Cerca o inizia una nuova chat" v-model="searchInput">
                    </div>
                </div>
                <!-- /search -->

                <div id="important_messages" class="d-none">
                    <div>
                        <div v-for="(contact, index) in importantContact" class="important_message my-2">
                            <div class="contact_section d-flex justify-content-between">
                                <div class=" contact d-flex align-items-center py-2">
                                    <div class="image mx-2">
                                        <img class="rounded-circle" :src="contact.avatar" alt="">
                                    </div>
                                    <div class="name">
                                        <span><strong> {{contact.name}} </strong></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div v-for="(message, index) in importantMessages" class="ms-5 mt-3 d-flex align-items-center">
                            <span class="last_message">{{message.message}}</span>

                            <span class="time p-2">{{message.date}}</span>
                        </div>

                    </div>


                </div>
                <!-- importan messages -->
                <div id="contacts">
                    <ul>
                        <li v-for="(contact,index) in contacts" @click="clickOnContacts(index)"
                            :class="{bg_gray: index===activeContact}">
                            <div class="contact_section d-flex justify-content-between"
                                :class="contact.name.toUpperCase().includes( searchInput.toUpperCase()) ? '' : 'd-none'">
                                <div class=" contact d-flex align-items-center py-2">
                                    <div class="image mx-2">
                                        <img class="rounded-circle" :src="contact.avatar" alt="">
                                    </div>
                                    <div class="name">
                                        <span><strong> {{contact.name}} </strong></span> <br>
                                        <span v-if="contacts[index].messages.length > 0"
                                            class="last_message">{{contact.messages[contact.messages.length
                                            -1].message}}</span>
                                    </div>
                                </div>
                                <div class="time p-2">12:00</div>
                            </div>
                        </li>
                    </ul>

                </div>


                <!-- /contacts -->



            </div>
            <!-- /left -->
            <div id="right" class="d-none w-lg-60 d-lg-flex flex-column justify-content-between">
                <header id="right_header" class="d-flex align-items-center justify-content-between">
                    <div @click="comeBackToContacts" class=" comeBackIcon ms-2 d-lg-none"><i
                            class="fa fa-arrow-circle-left fa-xl" aria-hidden="true"></i></div>
                    <div v-if="activeContact===-1" class="active_contact_section contact d-flex align-items-center">
                    </div>
                    <div v-else class="active_contact_section contact d-flex align-items-center">
                        <div class="image mx-2">
                            <img class="rounded-circle" :src="contacts[activeContact].avatar" alt="">
                        </div>
                        <div class="name">
                            <span><strong> {{contacts[activeContact].name}} </strong></span> <br>
                            <span v-if="isTyping" class="last_login"> is Typing... </span>
                            <span v-else-if="online" class="last_login">online</span>
                            <span v-else class="last_login">last seen today at {{currentHour()}}</span>
                        </div>
                    </div>
                    <div class="header_icons d-flex w-25 justify-content-evenly">
                        <div> <i class="fa-solid fa-magnifying-glass"></i></div>
                        <div> <i class="fa-solid fa-paperclip"></i></div>
                        <div class="dropdown" data-bs-toggle="dropdown" aria-expanded="false"><i
                                class="fa-solid fa-ellipsis-vertical"></i>
                            <ul class="dropdown-menu">
                                <li @click="deleteMessages()"><a class="dropdown-item" href="#">Delete messages</a></li>
                                <li @click="deleteChat"><a class="dropdown-item" href="#">Delete chat</a></li>
                            </ul>
                        </div>
                    </div>

                </header>
                <!-- /right_header -->
                <div v-if="activeContact === -1"
                    class="welcome_page d-flex align-items-center justify-content-center flex-column">
                    <img src="./assets/img/pc_smartphone.png" alt="">
                    <h2>Boolzapp Web</h2>
                    <h4 class="text-center">send messages to fictional people and receive random answers</h4>
                    <span><i class="me-2 fa-solid fa-unlock"></i>obviously, without end to end cryptography</span>
                </div>

                <div v-else class="right_content d-flex flex-column-reverse">
                    <div v-for="(message, index) in contacts[activeContact].messages.slice().reverse()"
                        :class="message.status === 'sent' ? 'new_message_sent' : 'new_message_received'">
                        <div :class="message.status === 'sent' ? 'sent' : 'received'"
                            class="new_message dropdown dropdown-toggle rounded" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <p class="text">{{message.message}}</p>
                            <span class="time">{{message.date}}</span>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Answer</a></li>
                                <li><a class="dropdown-item" href="#">Reactions</a></li>
                                <li><a class="dropdown-item" href="#">Download</a></li>
                                <li><a class="dropdown-item" href="#">Forward</a></li>
                                <li
                                    @click="addToImportant(contacts[activeContact], contacts[activeContact].messages[contacts[activeContact].messages.length -1 -index])">
                                    <a class="dropdown-item" href="#">Important Message</a>
                                </li>
                                <li><a class="dropdown-item" href="#">Report</a></li>
                                <li
                                    @click="contacts[activeContact].messages.splice((contacts[activeContact].messages.length -1) - index, 1)">
                                    <a class="dropdown-item" href="#">Delete Message</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- /right_content -->
                <footer id="right_footer">
                    <div class="container">
                        <div class="row justify-content-between align-items-center py-2">
                            <div class="emoji col-1 d-flex justify-content-center">
                                <i class="fa-regular fa-face-smile fa-xl"></i>
                            </div>
                            <div class="input_message col-10">
                                <input @keyup.enter="sendMessage" v-model="newMessage" type="text" class="form-control"
                                    id="message" placeholder=" Scrivi un messaggio">
                            </div>
                            <div class="audio col-1 d-flex justify-content-center">
                                <i
                                    :class="newMessage != '' ? 'fa-solid fa-paper-plane fa-xl' : 'fa-solid fa-microphone fa-xl'"></i>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- /right_footer -->

            </div>
            <!-- /right -->

        </div>
    </div>


    <script src="https://unpkg.com/vue-emoji-picker/dist/vue-emoji-picker.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/main.js"></script>
</body>

</html>