/* #region general */
:root {
    --dark-gradient-bg: #009688; 
    --light-gradfient-bg: #dbdbd2; 
    --header: #eaeaea; 
    --notifications: #8edafc; 
    --send_message: #d5f9ba; 
    --received_message: #ffffff;
    --buttons: #b1b1b1; 
}

img {
    max-width:100%
}
/* #endregion general */

.wrapper {
    width: 80%;
    margin: auto;
}

/* #region left */

#left{
    width: 40%; 
    background-color: var(--received_message);
}

#left_header, 
#right_header, 
#right_footer {
    height: 70px; 
    background-color: var(--header)
}

#left_header {
    border-right: 1px solid var(--buttons);
}

#notification_section {
    height: 80px; 
    background-color: var(--notifications)
}

.contact .image img,
#user_account .image img
 {
    height: 50px;
}

.notification_icon {
    height: 45px;
}


.contact .name .last_login, 
#notification_section .text a {
    font-size: 14px
}

#contacts li {
    list-style: none;
}

#contacts ul {
    margin-left: -2rem
}
.contact .last_login, 
#contact_section .time,
#notification_section .text a {
    color:  gray;
}

.header_icons div,
.user_icons div {
    color: var(--buttons)
}


/* #endregion left */
/* #region right */
#right {
    width: 60%;
    background-image: url(../img/mine.jpg);
}

#right_content {
    height: calc(100vh - 140px);
}


/* #endregion righ */







